*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
ul>li{
    list-style: none;
}
img{
    width: 100%;
}
h1 img{
    width: 200px;
}
.bd{
    background-image: linear-gradient(180deg, #D4EAF6, #F9F9F9 75%, #FFF);
}
.bd>p{
    color: #333;
    font-weight: 700;
    font-size: 1.5rem;
}
section{
    padding: 50px 0; 
}
.sec1 h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.sec1 h5{
    font-size: 1rem;
    color: #666;
    text-align: center;
}
.sec2 h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.sec3 h2{
    font-size: 2rem;
    font-weight: 700;
}
.sec3 h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sec4 h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.sec4 h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buy{
    color: #666;
}
.nw{
    color: #0071E3;
}
footer>ul.navbar-nav{
    flex-direction: row;
}
footer>ul>li>a{
    display: block;
    padding: 0 5px;
    color: #fff;
}