*{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
}
ul>li{
    list-style: none;
}
img{
    width: 100%;
}
h1 img{
    width: 200px;
}
section{
    padding: 50px 0; 
}
.sec1 h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.sec1 h5{
    font-size: 1rem;
    color: #666;
    text-align: center;
}
.sec2 h2{
    font-size: 2.5rem;
    font-weight: 700;
}